@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/PTSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/PTSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Wisdom';
  font-weight: 400;
  src: url('../../fonts/wisdom.woff') format('woff');
}

@font-face {
  font-family: 'Sullivan';
  font-weight: 400;
  src: url('../../fonts/sullivan.woff') format('woff');
}

@font-face {
  font-family: 'Zeronero';
  font-weight: 400;
  src: url('../../fonts/zeronero.woff') format('woff');
}