:root {
  --basic-white: #fff;
  --basic-black: #000;
  --almost-white: #EEEEEE;

  --skyblue: #81B3D2;
  --skyblue-hover: #669EC0;
  --skyblue-press: #5496BD;

  --chocolate: #766357;
  --chocolate-hover: #604E43;
  --chocolate-press: #503E33;

  --gray: #ABABAB;
  --gray-press: #BDBBBC;
  --gray-lighter: #CACACA;
  --gray-white: #F2F2F2;

  --font-color-dark: #333333;
  --font-color-light: #666666;
  --font-color-lighter: #888888;

  --basic-red: #FF0000;
}