.interest {
  text-align: center;
}

.interest__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}

.interest__description {
  line-height: 24px;
  font-size: 14px;
  color: var(--font-color-dark);
  margin-bottom: 50px;
}

.interest__form {
  margin-top: 24px;
  margin-bottom: 30px;
}

.interest__button {
  padding: 30px;
  padding-left: 124px;
  padding-right: 124px;
  color: var(--basic-white);
  background: var(--chocolate);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.interest__form-button:hover {
  background-color: var(--chocolate-hover);
}

.interest__form-button:active {
  background-color: var(--chocolate-press);
  color: rgba(255, 255, 255, 0.5);
}

.interest__map {
  width: 100%;
  height: 454px;
  z-index: 1;
}