.page {
  display: flex;
  justify-content: center;
  background: var(--gray-white);
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page__body {
  width: 1200px;
  max-width: 1200px;
  background: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: absolute;
}