.page-header__navigation {
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: var(--basic-white);
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}