.page-main__title {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  z-index: 1;
  margin: 0;
  margin-left: 357px;
  margin-right: auto;
}
.welcome {
  color: var(--skyblue);
  font-family: 'Sullivan', sans-serif;
  text-shadow: 1px 1px 0 #333,
    -1px 1px 0 #333,
    1px -1px 0 #333,
    -1px -1px 0 #333,
    0 1px 0 #333,
    -1px 0 0 #333,
    0 -1px 0 #333,
    0 0 0 #333;
  font-size: 63px;
  margin: 0;
  margin-top: 77px;
  line-height: 70px;
}

.gargeous {
  font-family: 'Wisdom';
  color: var(--chocolate);
  font-size: 29px;
  margin: 0;
  display: block;
  text-transform: lowercase;
  font-weight: 400;
}

.gargeous::before,
.gargeous::after {
  content: " — ";
}

.sedona {
  font-size: 116px;
  font-family: 'Zeroneo', sans-serif, 'Arial';
  color: var(--basic-white);
  display: block;
  line-height: 185px;
}

.page-main__quote {
  color: var(--basic-white);
  font-family: 'Wisdom';
  margin: 0;
  font-size: 36px;
  text-transform: none;
  line-height: 36px;
  font-weight: 400;
}

.page-main__image {
  margin: 0;
  margin-bottom: 42px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 80% 95%, 80% 90%, 50% 100%, 20% 90%, 20% 95%, 0 90%);
}

.page-main__image-shape {
  position: absolute;
  z-index: 2;
  top: 508px;
  width: 100%;
}

.page-main__description {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
  line-height: 26px;
}

.page-main__cause-description {
  text-align: center;
  font-size: 14px;
  color: var(--font-color-dark);
  line-height: 26px;
  margin: 0;
  margin-bottom: 51px;
}

/****** Catalog page *******/

.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.page-main__form {
  width: 100%;
  background: url('../../image/background-transparent.jpg') no-repeat;
  background-size: 100%;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 137px 137px 317px;
  padding: 26px 73px 32px 72px;
}

.page-main__form-price {
  grid-column: 4/5;
}

.form--fieldset__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.form-fieldset__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.form-price-show-button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 7px 35px;
  max-width: 150px;
  text-align: center;
  line-height: 21px;
}

.hotels__first-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.first-items-article {
  display: grid;
  grid-template-columns: 135px 258px 113px;
}

.left-side {
  display: flex;
}

.list-star {
  width: 19px;
  height: 17px;
  background-color: var(--skyblue);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}