.page {
  width: 100%;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'PT Sans', sans-serif;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: var(--gray-white);
}

.page__body {
  background: var(--basic-white);
  box-shadow: 0 0 10px var(--font-color-lighter);
  position: relative;
  height: 2740px;
  font-weight: 400;
}